.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.round {
  margin-top: 3em;
  width: 20em;
  height: 19em;
  border-radius: 25em; /* Радиус скругления */
}

.text-container {
  text-align: center;
  padding: 1em;
}

.pad {
  width: 10em;
  text-align: center;
  margin-right: 0.5em;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
