.container {
  width: 100%;
  height: 88.3%;
}

/*.sidenav-content {*/
/*  display: flex;*/
/*  height: 100%;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/
.showHideBtn {

}

.sidenav {
  padding: 20px;
}
