<app-header></app-header>

<mat-drawer-container class="container">
  <mat-drawer mode="side" opened>
    <mat-list>
      <div mat-subheader>Favorites</div>
      <mat-list-item *ngFor="let favorite of favorites" (click)="ChatOpen(favorite.groupName)">
        <div mat-list-avatar class="header-image"></div>
        <div mat-line>{{favorite.groupName}}</div>
        <div mat-line> {{favorite.date}} </div>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
    <h3 *ngIf="!done" class="noneChatLbl">Choose a chat...</h3>
    <div *ngIf="done">
      <app-chat-messaging></app-chat-messaging>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<app-footer></app-footer>
