<app-header></app-header>
<div class="content">

  <div layout="row" layout-xs="column" class="home-row homepage-container">
    <img height="222" width="340" src="assets/screens/Chats.png" alt="responsive framework">
    <div class="text-container">
      <div class="text-block promo-1-desc l-pad-top-2">
        <div class="text-headline" routerLink="/chats">Chats Page</div>
        <p class="text-body">It`s a place where you can discuss your tasks, ask for help and talking about current project.
        </p>
      </div>
    </div>
  </div>

  <hr>
  <div layout="row" layout-xs="column" class="home-row homepage-container">
    <div class="text-container">
      <div class="text-block promo-1-desc l-pad-top-2">
        <div class="text-headline" routerLink="/dashboard">Dashboard Page</div>
        <p class="text-body">It`s a place where you can Look up for task, get it, send your task to checking and see the result.
        </p>
      </div>
    </div>
    <img height="222" width="340" src="assets/screens/Dashboard.png" alt="responsive framework">
  </div>
  <hr>
  <div layout="row" layout-xs="column" class="home-row homepage-container">
    <img height="222" width="340" src="assets/screens/workspace.png" alt="responsive framework">
    <div class="text-container">
      <div class="text-block promo-1-desc l-pad-top-2">
        <div class="text-headline" routerLink="/workspace">Work Space Page</div>
        <p class="text-body">It`s a place where you can write some code by rewriting existing files in project or just add yours.
        </p>
      </div>
    </div>
  </div>
  <hr>
  <div layout="row" layout-xs="column" class="home-row homepage-container">
    <div class="text-container">
      <div class="text-block promo-1-desc l-pad-top-2">
        <div class="text-headline" routerLink="/docs">Docs Page</div>
        <p class="text-body">It`s a place where you can read some useful info about this system.
        </p>
      </div>
    </div>
    <img height="222" width="340" src="assets/screens/Docs.png" alt="responsive framework">
  </div>
  <hr>
  <div layout="row" layout-xs="column" class="home-row homepage-container">
    <img height="222" width="340" src="assets/screens/Checks.png" alt="responsive framework">
    <div class="text-container">
      <div class="text-block promo-1-desc l-pad-top-2">
        <div class="text-headline" routerLink="/checks">Checks Page</div>
        <p class="text-body">It`s a place where you can check some tasks from another users.
        </p>
      </div>
    </div>
  </div>
  <hr>
  <div layout="row" layout-xs="column" class="home-row homepage-container">
    <div class="text-container">
      <div class="text-block promo-1-desc l-pad-top-2">
        <div class="text-headline" routerLink="/account">Account Page</div>
        <p class="text-body">It`s a place where you can rewrite some info about yourself.
        </p>
      </div>
    </div>
    <img height="222" width="340" src="assets/screens/account.png" alt="responsive framework">
  </div>
  <hr>
  <div layout="row" layout-xs="column" class="home-row homepage-container">
    <img height="222" width="340" src="assets/screens/settings.png" alt="responsive framework">
    <div class="text-container">
      <div class="text-block promo-1-desc l-pad-top-2">
        <div class="text-headline" routerLink="/settings">Settings Page</div>
        <p class="text-body">It`s a place where you can change some specific info about project.
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

