<app-admin-panel-header></app-admin-panel-header>

<div class="content">

  <div layout="row" layout-xs="column" class="home-row homepage-container">
    <img height="222" width="340" src="assets/screens/Chats.png" alt="responsive framework">
    <div class="text-container">
      <div class="text-block promo-1-desc l-pad-top-2">
        <div class="text-headline" routerLink="/add-user">Add users Page</div>
        <p class="text-body">It`s a place where you can create and add new users to the system.
        </p>
      </div>
    </div>
  </div>

  <hr>
  <div layout="row" layout-xs="column" class="home-row homepage-container">
    <div class="text-container">
      <div class="text-block promo-1-desc l-pad-top-2">
        <div class="text-headline" routerLink="/change-user">Change users Page</div>
        <p class="text-body">It`s a place where you can change or delete an existing users.
        </p>
      </div>
    </div>
    <img height="222" width="340" src="assets/screens/Dashboard.png" alt="responsive framework">
  </div>
  <hr>

</div>

<app-footer></app-footer>
