<mat-toolbar color="primary">
  <mat-toolbar-row>

    <button mat-button style="margin-right: 1em" routerLink="/add-user">Add user</button>
    <button mat-button style="margin-right: 1em" routerLink="/change-user">Change User</button>
    <button mat-button style="margin-right: 1em" routerLink="/home">Switch to user mode</button>
    <span class="example-spacer"></span>

    <button mat-button>
      <mat-icon>invert_colors</mat-icon>
    </button>
    <button mat-button>
      <mat-icon>language</mat-icon>
    </button>
    <button mat-button routerLink="/entry">
      Log Out <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
